@import './media';

/*=Margin*/
.m-0 {
  margin: 0;
}
.m-t-05 {
  margin-top: .5rem;
}
.m-b-05 {
  margin-bottom: .5rem;
}
.m-t-1 {
  margin-top: 1rem;
}
.m-b-1 {
  margin-bottom: 1rem;
}
.m-b-1-5 {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: $ns) {
  .m-t-05-ns {
    margin-top: .5rem;
  }
  .m-b-05-ns {
    margin-bottom: .5rem;
  }
  .m-t-1-ns {
    margin-top: 1rem;
  }
  .m-b-1-ns {
    margin-bottom: 1rem;
  }
  .m-b-1-05-ns {
    margin-bottom: 1.5rem;
  }
}

/*=Padding*/
.p-0 {
  padding: 0;
}
.p-b-2px {
  padding-bottom: 2px;
}
.p-05 {
  padding: .5rem;
}
.p-t-05 {
  padding-top: .5rem;
}
.p-r-05 {
  padding-right: .5rem;
}
.p-b-05 {
  padding-bottom: .5rem;
}
.p-l-05 {
  padding-left: .5rem;
}
.p-1 {
  padding: 1rem;
}
.p-t-1 {
  padding-top: 1rem;
}
.p-r-1 {
  padding-right: 1rem;
}
.p-b-1 {
  padding-bottom: 1rem;
}
.p-l-1 {
  padding-left: 1rem;
}
.p-1-5 {
  padding: 1.5rem;
}
.p-t-1-5 {
  padding-top: 1.5rem;
}
.p-r-1-5 {
  padding-right: 1.5rem;
}
.p-b-1-5 {
  padding-bottom: 1.5rem;
}
.p-l-1-5 {
  padding-left: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-t-2 {
  padding-top: 2rem;
}
.p-r-2 {
  padding-right: 2rem;
}
.p-b-2 {
  padding-bottom: 2rem;
}
.p-l-2 {
  padding-left: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-t-3 {
  padding-top: 3rem;
}
.p-r-3 {
  padding-right: 3rem;
}
.p-b-3 {
  padding-bottom: 3rem;
}
.p-l-3 {
  padding-left: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-t-4 {
  padding-top: 4rem;
}
.p-r-4 {
  padding-right: 4rem;
}
.p-b-4 {
  padding-bottom: 4rem;
}
.p-l-4 {
  padding-left: 4rem;
}
.p-5 {
  padding: 5rem;
}
.p-t-5 {
  padding-top: 5rem;
}
.p-r-5 {
  padding-right: 5rem;
}
.p-b-5 {
  padding-bottom: 5rem;
}
.p-l-5 {
  padding-left: 5rem;
}
.p-6 {
  padding: 6rem;
}
.p-7 {
  padding: 7rem;
}
@media screen and (min-width: $ns) {
  .p-0-ns {
    padding: 0;
  }
  .p-t-0-ns {
    padding-top: 0;
  }
  .p-r-0-ns {
    padding-right: 0;
  }
  .p-b-0-ns {
    padding-bottom: 0;
  }
  .p-l-0-ns {
    padding-left: 0;
  }
  .p-05-ns {
    padding: .5rem;
  }
  .p-t-05-ns {
    padding-top: .5rem;
  }
  .p-r-05-ns {
    padding-right: .5rem;
  }
  .p-b-05-ns {
    padding-bottom: .5rem;
  }
  .p-l-05-ns {
    padding-left: .5rem;
  }
  .p-1-ns {
    padding: 1rem;
  }
  .p-t-1-ns {
    padding-top: 1rem;
  }
  .p-r-1-ns {
    padding-right: 1rem;
  }
  .p-b-1-ns {
    padding-bottom: 1rem;
  }
  .p-l-1-ns {
    padding-left: 1rem;
  }
  .p-2-ns {
    padding: 2rem;
  }
  .p-t-2-ns {
    padding-top: 2rem;
  }
  .p-r-2-ns {
    padding-right: 2rem;
  }
  .p-b-2-ns {
    padding-bottom: 2rem;
  }
  .p-l-2-ns {
    padding-left: 2rem;
  }
  .p-b-2-5-ns {
    padding-bottom: 2.5rem;
  }
  .p-4-ns {
    padding: 4rem;
  }
  .p-t-4-ns {
    padding-top: 4rem;
  }
  .p-b-4-ns {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: $l) {
  .p-4-l {
    padding: 4rem;
  }
}


/*=Width */
.w-0 {
  width: 0;
}
.w-third {
  width: 33.3%
}
.w-whole {
  width: 100%;
}
.w-3 {
  width: 3rem;
}
.w-4 {
  width: 4rem;
}
.w-5 {
  width: 5rem;
}
.w-30-max {
  max-width: 30rem;
}
.w-40-max {
  max-width: 40rem;
}
@media screen and (min-width: $ns) {
  .w-third-ns {
    width: 33.3%
  }
  .w-3-ns {
    width: 3rem;
  }
  .w-5-ns {
    width: 5rem;
  }
  .w-34-max-ns {
    max-width: 34rem;
  }
}
@media screen and (min-width: $l) {
  .w-44-max-l {
    max-width: 44rem;
  }
}

/*=Height */
.h-whole {
  height: 100%;
}
.h-1 {
  height: 1rem;
}
.h-2 {
  height: 2rem;
}
.h-3 {
  height: 3rem;
}
.h-4 {
  height: 4rem;
}
.h-5 {
  height: 5rem;
}
.h-6 {
  height: 6rem;
}
@media screen and (min-width: $ns) {
  .h-2-ns {
    height: 2rem;
  }
  .h-3-ns {
    height: 3rem;
  }
  .h-4-ns {
    height: 4rem;
  }
  .h-5-ns {
    height: 5rem;
  }
}

/*=Border Width*/
.border-0 {
  border: 0;
}
.border-1px {
  border-style: solid;
  border-width: 1px;
}
.border-t-1px {
  border-top-style: solid;
  border-top-width: 1px;
}
.border-r-1px {
  border-right-style: solid;
  border-right-width: 1px;
}
.border-b-1px {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.border-2px {
  border-style: solid;
  border-width: 2px;
}
.border-b-2px {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.border-3px {
  border-style: solid;
  border-width: 3px;
}
.border-4px {
  border-style: solid;
  border-width: 4px;
}
.border-b-4px {
  border-bottom-style: solid;
  border-bottom-width: 4px;
}
.border-b-6px {
  border-bottom-style: solid;
  border-bottom-width: 6px;
}
.border-05 {
  border-style: solid;
  border-width: .5rem;
}
.border-t-05 {
  border-top-style: solid;
  border-top-width: .5rem;
}
.border-r-05 {
  border-right-style: solid;
  border-right-width: .5rem;
}
.border-b-05 {
  border-bottom-style: solid;
  border-bottom-width: .5rem;
}
.border-l-05 {
  border-left-style: solid;
  border-left-width: .5rem;
}
.border-1 {
  border-style: solid;
  border-width: 1rem;
}
.border-t-1 {
  border-top-style: solid;
  border-top-width: 1rem;
}
.border-r-1 {
  border-right-style: solid;
  border-right-width: 1rem;
}
.border-b-1 {
  border-bottom-style: solid;
  border-bottom-width: 1rem;
}
.border-l-1 {
  border-left-style: solid;
  border-left-width: 1rem;
}
@media screen and (min-width: $ns) {
  .border-0-ns {
    border: 0;
  }
  .border-r-1px-ns {
    border-right-style: solid;
    border-right-width: 1px;
  }
  .border-3px-ns {
    border-style: solid;
    border-width: 3px;
  }
  .border-4px-ns {
    border-style: solid;
    border-width: 4px;
  }
  .border-b-4px-ns {
    border-bottom-style: solid;
    border-bottom-width: 4px;
  }
  .border-5px-ns {
    border-style: solid;
    border-width: 5px;
  }
  .border-b-6px-ns {
    border-bottom-style: solid;
    border-bottom-width: 6px;
  }
  .border-1-ns {
    border-style: solid;
    border-width: 1rem;
  }
  .border-t-1-ns {
    border-top-style: solid;
    border-top-width: 1rem;
  }
  .border-r-1-ns {
    border-right-style: solid;
    border-right-width: 1rem;
  }
  .border-b-1-ns {
    border-bottom-style: solid;
    border-bottom-width: 1rem;
  }
  .border-l-1-ns {
    border-left-style: solid;
    border-left-width: 1rem;
  }
}

/*=Border Radius*/
.rounded {
  border-radius: 50%;
}
.rounded-4px {
  border-radius: 4px;
}
