/*=Display*/
.no-d {
  display: none !important;
}
.d-b {
  display: block !important;
}
@media screen and (max-width: 639px) {
  .no-d-s {
    display: none !important;
  }
}
@media screen and (min-width: 640px) {
  .no-d-ns {
    display: none !important;
  }
}
