/*=Display*/
.no-d {
  display: none !important;
}
.d-b {
  display: block !important;
}
@media screen and (max-width: $ns - 1) {
  .no-d-s {
    display: none !important;
  }
}
@media screen and (min-width: $ns) {
  .no-d-ns {
    display: none !important;
  }
  .d-b-ns {
    display: block !important;
  }
}
