$ns: 40rem;
$l: 70rem;

.font-size-1 {
  font-size: 1rem;
}
.font-size-1-25 {
  font-size: 1.5rem;
}
.font-size-1-5 {
  font-size: 1.5rem;
}
.font-size-1-75 {
  font-size: 1.75rem;
  line-height: 1.3;
}
.font-size-2 {
  font-size: 2rem;
  line-height: 1.3;
}
.font-size-2-5 {
  font-size: 2.5rem;
  line-height: 1.25;
}
.font-size-3 {
  font-size: 3rem;
  line-height: 1.25;
}
.font-size-3-5 {
  font-size: 3.5rem;
  line-height: 1.25;
}
@media screen and (min-width: $ns) {
  .font-size-1-25-ns {
    font-size: 1.25rem;
  }
  .font-size-1-5-ns {
    font-size: 1.5rem;
  }
  .font-size-2-25-ns {
    font-size: 2.25rem;
    line-height: 1.25;
  }
  .font-size-2-5-ns {
    font-size: 2.5rem;
    line-height: 1.25;
  }
  .font-size-3-ns {
    font-size: 3rem;
    line-height: 1.25;
  }
  .font-size-3-5-ns {
    font-size: 3.5rem;
    line-height: 1.25;
  }
}
@media screen and (min-width: $l) {
  .font-size-1-25-l {
    font-size: 1.25rem;
  }
  .font-size-2-25-l {
    font-size: 2.25rem;
    line-height: 1.25;
  }
  .font-size-3-5-l {
    font-size: 3.5rem;
    line-height: 1.25;
  }
}

/*=Font Weight*/
.font-weight-lighter {
  font-weight: lighter;
}
.font-weight-bolder {
  font-weight: bolder;
}

.bg-cover {
  background-size: cover;
}
.bg-bottom {
  background-position: bottom;
}
