@import './normalize';

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, noto, 'helvetica neue', helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

canvas {
  display: block;
  vertical-align: bottom;
}

h1,
h2,
p,
button {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

button {
  background: inherit;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
}

input {
  -webkit-appearance: none;
  background-color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

@import './align';
@import './aspect-ratios';
@import './box';
@import './display';
@import './font';
@import './flexbox';
@import './opacity';
@import './overflow';
@import './pointer';
@import './position';
@import './text';
@import './transform';
@import './transition';
@import './visibility';
@import './zindex';
@import './colours';
