header.z-1.sticky.top-0.left-0.flex.justify-between.items-center.p-05.p-1-ns.bg-green.white
  img.w-4-ns.h-4-ns(height="48" src="img/white w-o green.svg" width="48")
  //h1.flex.items-center.montefiore-condensed-bold.font-size-2-25.font-size-4-ns Spotters
  a.no-underline.flex.items-center.h-3.h-4-ns.p-r-1.p-l-1.p-r-2-ns.p-l-2-ns.rounded-4px.visited-white.active-bg-white.active-green.white.border-white-03.border-1px.transition-200ms(data-signup="scrollTo" href="#signup") Register
