header.z-1.sticky.top-0.left-0.flex.justify-between.items-center.p-05.p-1-ns.bg-green.black
  img.w-4-ns.h-4-ns(height="48" src="img/spotters.svg" width="48")
  a.no-underline.flex.items-center.h-3.h-4-ns.rounded-4px.visited-white.active-bg-white.active-green.bg-green.white.border-white.border-2px.border-4px-ns.transition-200ms(data-signup="scrollTo" href="#signup")
    span.pointer-events-none.flex.items-center.p-r-1.p-l-1.p-r-2-ns.p-l-2-ns Sign Up
