header.z-1.sticky.top-0.left-0.flex.justify-between.items-center.p-1.p-l-2-ns.bg-green.white
  .flex.items-center
    img.no-d(height="26" src="img/spotters.svg" width="26")
    .monte-bold.font-size-2.font-size-3-ns Spotters
  a.no-underline.flex.items-center.h-3.h-4-ns.rounded-4px.visited-white.active-bg-white.active-green.bg-green.white.border-white-03.border-1px.transition-200ms(data-signup="scrollTo" href="#signup")
    span.pointer-events-none.flex.items-center.p-r-1.p-l-1.p-r-2-ns.p-l-2-ns Sign Up
