doctype
html.m-0.p-0
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    title Spotters
    meta(decscription="Connect with the Grassroots Football Community")
    meta(property="og:image" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="style.css" inline)
    link(rel="preload" href="fonts/montefiore-bold-condensed.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preconnect" href="https://res.cloudinary.com" crossorigin)
    script(src="js/signup.js" async defer)
  body.m-0.p-0
    main
      != partial("_header")
      != yield
    != partial("_footer")
