doctype
html.m-0.p-0(lang="en-GB")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    title Spotters &mdash; Uniting the Grassroots Football Community
    meta(decscription="The online community for grassroots football. Spotters is where every football player can feel like a pro, and every voice from the touchline can be heard.")
    meta(property="og:image" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="style.css" inline)
    link(rel="preload" href="fonts/montefiore-condensed-bold.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preconnect" href="https://res.cloudinary.com" crossorigin)
    script(src="js/signup.js" async defer)
    meta(property="og:image:url" content="http://www.spottersapp.com/og-image.jpg")
    meta(property="og:image:width" content="279")
    meta(property="og:image:height" content="279")
    meta(property="og:title" content="Spotters")
    meta(property="og:description" content="Uniting the Grassroots Football Community")
    meta(property="og:url" content="http://www.spottersapp.com/")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@Spotters_UK")
    meta(name="twitter:title" content="Spotters")
    meta(name="twitter:description" content="Uniting the Grassroots Football Community")
    meta(name="twitter:image" content="http://spottersapp.com/og-image.jpg")
  body.m-0.p-0
    main
      != partial("_header")
      != yield
    != partial("_footer")
    != partial("_thankyou")
