.no-d.z-1.fixed.top-0.left-0.w-whole.h-whole.flex.justify-center.items-center.bg-black-09(data-signup="thankyou")
  .w-34-max-ns.w-44-max-l.bg-green.white.p-2
    h1.p-b-1.montefiore-bold.font-size-2.font-size-3-ns Nearly there
    p We need to confirm your email address. To complete the process, please click the link in the email we just sent you.
