!= partial("index")
.z-1.fixed.top-0.left-0.w-whole.h-whole.flex.justify-center.items-center.bg-black-09(data-signup="confirmation")
  .w-34-max-ns.w-44-max-l.bg-green.white
    h1.p-2.montefiore-bold.font-size-2.font-size-3-ns Thank you! We will be in touch soon. For now why not tell your friends about us?
    .flex.items-center.p-l-2.p-b-2
      span.w-third.p-r-2
        a.no-underline.flex.justify-center.items-center.h-4.rounded-4px.visited-white.active-bg-white.active-green.white.border-white-03.border-1px.transition-200ms(href="https://twitter.com/home?status=Just%20become%20one%20of%20first%20to%20hear%20when%20the%20UK%E2%80%99S%20only%20social%20network%20for%20Grassroots%20football%20launches%20spottersapp.com")
          img(alt="Share on Twitter" height="32" src="img/twitter-white.svg" width="32")
          
      span.w-third.p-r-2
        a.no-underline.flex.justify-center.items-center.h-4.rounded-4px.visited-white.active-bg-white.active-green.white.border-white-03.border-1px.transition-200ms(href="https://www.facebook.com/sharer/sharer.php?u=spottersapp.com")
          img(alt="Share on Facebook" height="32" src="img/facebook-white.svg" width="32")
        
      span.w-third.p-r-2
        a.no-underline.flex.justify-center.items-center.h-4.rounded-4px.visited-white.active-bg-white.active-green.white.border-white-03.border-1px.transition-200ms(href="https://www.linkedin.com/shareArticle?mini=true&url=spottersapp.com&title=Uniting%20the%20Grassroots%20Football%20Community&summary=&source=") 
          img(alt="Share on LinkedIn" height="32" src="img/linked-in-white.svg" width="32")
