!= partial("index")
.z-1.fixed.top-0.left-0.w-whole.h-whole.flex.justify-center.items-center.bg-black-09
  .w-40-max.bg-green.white
    h1.p-1.p-2-ns.montefiore-condensed-bold.font-size-2.font-size-4-ns All done! Why not tell your freinds about us… The club with the most sign-ups will win a prize from Watford FC!
    .flex.items-center.p-l-1.p-b-1.p-l-2-ns.p-b-2-ns
      .w-third.p-r-1.p-r-2-ns
        a.no-underline.flex.justify-around.items-center.h-3.p-r-1.p-l-1.h-4-ns.rounded-4px.visited-green.active-bg-black.bg-white.green.transition-200ms(href="https://twitter.com/share?url=http%3A%2F%2Fspottersapp.com&text=Just%20became%20one%20of%20first%20to%20hear%20when%20the%20UK%E2%80%99S%20only%20social%20network%20for%20Grassroots%20football%20launches" rel="nofollow")
          img.w-3-ns.h-3-ns.p-r-05(height="32" src="img/twitter-green.svg" width="32")
          span.montefiore-condensed-bold.font-size-2-ns Share
          
      .w-third.p-r-1.p-r-2-ns
        a.no-underline.flex.justify-around.items-center.h-3.p-r-1.p-l-1.h-4-ns.rounded-4px.visited-green.active-bg-black.bg-white.green.transition-200ms(href="https://www.facebook.com/sharer/sharer.php?u=spottersapp.com" rel="nofollow")
          img.self-end.w-3-ns.h-3-ns(height="32" src="img/facebook-green.svg" width="32")
          span.p-l-05.montefiore-condensed-bold.font-size-2-ns Share
        
      .w-third.p-r-1.p-r-2-ns
        a.no-underline.flex.justify-around.items-center.h-3.p-r-1.p-l-1.h-4-ns.rounded-4px.visited-green.active-bg-black.bg-white.green.transition-200ms(href="mailto:?subject=Be%20first%20to%20hear%20about%20the%20launch%20of%20the%20UK%27s%20only%20social%20network%20for%20grassroots%20football&body=Hi.%20I%27ve%20just%20registered%20my%20interest%20in%20Spotters%2C%20so%20I%27ll%20be%20first%20to%20hear%20when%20it%20launches%20next%20season.%20You%20should%20register%20too.%20The%20club%20with%20the%20most%20sign-ups%20will%20win%20a%20prize%20from%20Watford%20FC!%0A%0Ahttp%3A%2F%2Fwww.spottersapp.com%2F" rel="nofollow") 
          img.w-3-ns.h-3-ns.p-r-05(height="32" src="img/mail-green.svg" width="32")
          span.montefiore-condensed-bold.font-size-2-ns Share
