!= partial("index")
.z-1.fixed.top-0.left-0.w-whole.h-whole.flex.justify-center.items-center.bg-black-09
  .w-40-max.bg-green.white
    h1.p-1.p-2-ns.montefiore-bold.font-size-2.font-size-4-ns All done! Why not tell your freinds about us…
    .flex.items-center.p-l-1.p-b-1.p-l-2-ns.p-b-2-ns
      .w-third.p-r-1.p-r-2-ns
        a.no-underline.flex.justify-between.items-center.h-3.p-r-1.p-l-1.h-5-ns.rounded-4px.visited-green.active-bg-black.bg-white.green.transition-200ms(href="https://twitter.com/home?status=Just%20become%20one%20of%20first%20to%20hear%20when%20the%20UK%E2%80%99S%20only%20social%20network%20for%20Grassroots%20football%20launches%20spottersapp.com")
          img.w-3-ns.h-3-ns.p-r-05(alt="Share on Twitter" height="32" src="img/twitter-green.svg" width="32")
          span.montefiore-bold.font-size-2-ns Share
          
      .w-third.p-r-1.p-r-2-ns
        a.no-underline.flex.justify-between.items-center.h-3.p-r-1.p-l-1.h-5-ns.rounded-4px.visited-green.active-bg-black.bg-white.green.transition-200ms(href="https://www.facebook.com/sharer/sharer.php?u=spottersapp.com")
          img.self-end.w-3-ns.h-3-ns.p-r-05(alt="Share on Facebook" height="32" src="img/facebook-green.svg" width="32")
          span.montefiore-bold.font-size-2-ns Share
        
      .w-third.p-r-1.p-r-2-ns
        a.no-underline.flex.justify-between.items-center.h-3.p-r-1.p-l-1.h-5-ns.rounded-4px.visited-green.active-bg-black.bg-white.green.transition-200ms(href="https://www.linkedin.com/shareArticle?mini=true&url=spottersapp.com&title=Uniting%20the%20Grassroots%20Football%20Community&summary=&source=") 
          img.w-3-ns.h-3-ns.p-r-05(alt="Share on LinkedIn" height="32" src="img/linked-in-green.svg" width="32")
          span.montefiore-bold.font-size-2-ns Share
