@import 'css/normalize';

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, noto, 'helvetica neue', helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

canvas {
  display: block;
  vertical-align: bottom;
}

h1,
h2,
p,
button {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

button {
  background: inherit;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
}

input {
  -webkit-appearance: none;
  background-color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

@import 'css/align';
@import 'css/aspect-ratios';
@import 'css/box';
@import 'css/display';
@import 'css/font';
@import 'css/flexbox';
//@import 'css/opacity';
@import 'css/overflow';
@import 'css/pointer';
@import 'css/position';
@import 'css/text';
@import 'css/transform';
@import 'css/transition';
//@import 'css/visibility';
@import 'css/zindex';
@import 'css/colours';
